<template name="bossPage">
  {{#if boss}}
  <div class="template-home" style="min-width:1200px;">
    <!--banner-->
    <div style= "padding-bottom:20px;">
     <img src="banner/banner1.png" width="80%" height="125px" class="center">
    </div>
    
    <table class="col-xs-2 filter-container">
      <tr class="filter categories"><td>
        <h6>Filter:&nbsp;<a id="filterall">Clear all</a></h6>
      </td></tr>
      <tr class="filter categories"><td>
        Region:&nbsp;<a class="regionall">All</a> 
      </td></tr>
      <tr><td>
        <input type="radio" name="regionselection" value="China" id="China"/> China
      </td></tr>
      <tr><td>  
        <input type="radio" name="regionselection" value="Japan" id="Japan"/> Japan   
      </td></tr>
      <tr><td>     
        <input type="radio" name="regionselection" value="America" id="America"/> America
      </td></tr>
      <tr><td>    
        <input type="radio" name="regionselection" value="Korea" id="Korea"/> Korea
      </td></tr>
      <tr><td>   
        Type:&nbsp;<a class="typeall">All</a>
      </td></tr> 
      <tr><td>  
        <input type="radio" name="typeselection" id="Sake"/> Sake
      </td></tr>
      <tr><td>  
        <input type="radio" name="typeselection" id="Wine"/> Wine 
      </td></tr>
      <tr><td>  
        <input type="radio" name="typeselection" id="HardLiquor"/> Hard Liquor
      </td></tr>
      <tr><td>  
        <input type="radio" name="typeselection" id="Soju"/> Soju
      </td></tr>
    </table> 
    <div class="col-xs-10 wineselection">
      <h3 style="color:#984814;">BROWSE OUR SELECTIONS:</h3>
      {{#each wine}}
      <table class="wineitem col-xs-3"> 
         <tr><td>
          <img class="center" src="wineimages/{{this.img}}" style="height:120px;"/>
           <a class="center imagelink" data-toggle="modal" data-target="#myModal">image</a>
        </td></tr>
        <div class="content">
          <tr><td class="center">
            <strong style="color:#984814;">
              <input type="text" value="{{name}}" class="name" id="{{this._id}}name"/>
            </strong>
          </td></tr>
          <tr><td><strong>Description : </strong>
            <input type="text" value="{{description}}" class="description" id="{{this._id}}description"/>
          </td></tr>
          <tr><td><strong>Type : </strong>
            <input type="text" value="{{type}}" class="type" id="{{this._id}}type"/> 
          </td></tr>
          <tr><td><strong>Alchohol : </strong>
            <input type="text" value="{{level}}" class="level" id="{{this._id}}level"/> 
          </td></tr>
          <tr><td><strong>Size : </strong>
            <input type="text" value="{{size}}" class="size" id="{{this._id}}size"/> 
          </td></tr>
          <tr><td><strong>Food/Serving Suggestion : </strong>
            <input type="text" value="{{pair}}" class="pair" id="{{this._id}}pair"/>
          </td></tr>
           <tr><td><strong>Region : </strong>
            <input type="text" value="{{region}}" class="region" id="{{this._id}}region"/>
          </td></tr>
          <tr><td>
             <div style="color:red;">Remove this wine : <i class="fa fa-times" id="remove-wine"></i></div>
          </td></tr>  
        </div>
      </table> 
      {{/each}}
    </div>
  </div>
  {{else}}
  <h2>Boss Page</h2>
  {{/if}}

</template>

